.global_hooks_label {
  background-image: url(/plugin_assets/redmine_undev_git/images/transmit.png);
}

table.list.changesets td.rebase-info {
  width: 15px;
}

table.list.changesets tr.rebased-to {
  background-color: #fdd;
}

h2 em.rebased-to {
  background-color: #fff0f0;
}

h2 em.rebased-from {
  background-color: #f0fff0;
}

tr.hooks-header {
  border-top-style: solid;
  border-top-width: 1px;
  background-color: #FEFEF0;
}

.hook-field-value {
  font-weight: bolder;
}

.icon-white  { background-image: url(/plugin_assets/redmine_undev_git/images/bullet_white.png); }
.icon-green  { background-image: url(/plugin_assets/redmine_undev_git/images/bullet_green.png); }
.icon-yellow { background-image: url(/plugin_assets/redmine_undev_git/images/bullet_yellow.png); }
.icon-red    { background-image: url(/plugin_assets/redmine_undev_git/images/bullet_red.png); }
.icon-black  { background-image: url(/plugin_assets/redmine_undev_git/images/bullet_black.png); }
